/* basic styling */
body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(139, 195, 248);
  font-family: 'Raleway', sans-serif;
}
h1 {
  text-align: center;
  border-bottom: red 2px outset;
  margin: 10px 200px;
  font-size: 4rem;
  font-style: italic;
}

/* grid stuff */
.container {
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px 20px;
  font-size: 17px;
  font-weight: 700;
}
.container > div {
  height: 300px;
  text-align: center;
}
/* make the img fit the div */
.container > div > a > img{
  width: 100%;
  height: 100%;
}

.desc {
  background-color: rgb(85, 124, 255);
  transform: translateY(-4px);
}
