body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 1.2rem;
  background-color: rgb(170, 172, 255);
  // only way to make space whit this nav bar
  h1, h2, h3 {margin-left: 30px;}
  p, ul, .dante {margin-left: 40px;}
  
  .css {
    width: fit-content;
    background-color: rgb(138, 140, 255);
  }
}

// Scrolling nav bar
main {
  height: 100%;
  overflow: auto;
}

// .content {
//   padding: 60px;
// }
.nav-list {
  // this is indeed necesary lmao
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: rgb(138, 140, 255);
  width: 200px;
  height: 100%;
  float: left;
  overflow: auto;

  li > a {
    text-decoration: none;
    color: rgb(16, 0, 105);
    padding: 8px;
    display: block;
    transition: 0.3s;
    border-top: 1px rgba(#0114c0, 0.5) solid;

    &:hover {
      color: rgb(138, 140, 255);
      background-color: rgb(20, 0, 133);
    }
  }
}

// container  & items inside - examples
.container > div {
  padding: 10px 69px;
  text-align: center;
  font-size: 2em;
  color: black;
  border-radius: 7px;
  &:nth-child(1),
  &:nth-child(3) {
    background-color: rgb(255, 86, 86);
  }
  &:nth-child(2),
  &:nth-child(4) {
    background-color: rgb(111, 154, 255);
  }
}

// resize stuff
.dante {
  border-right: 2px rgb(255, 0, 0) solid;
  box-sizing: border-box;
  resize: horizontal;
  overflow: auto;
  padding: 1px;
  border-radius: 7px;
}

/* basic flex propierties */
.container{
  display: flex;
  width: 100%;
  margin: auto;
  border: 1px black solid;
  border-radius: 7px;
}
.content {

  
  // Specific containers
  .one > div:nth-child(4) { margin-left: auto; }
  
  .two > div:nth-child(3) { margin-left: auto; }
  
  .three > div { flex: 1 1 0; }
  
  .four > div:nth-child(2) { flex: 3 3 0; }
  
  // .five > div {}

  .six {
    flex-wrap: wrap;

    div { width: 60px; }
  }

  .seven > div { 
    &:nth-child(1) { order: 3; }
    &:nth-child(2) { order: 1; }
    &:nth-child(3) { order: 4; }
    &:nth-child(4) { order: 2; }
    
  }
}

// Personalized scroll bar
 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(251, 174, 174);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 81, 81);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 46, 46);
} 
