/* TODO
-write the styles that are a constant tru all the files */
/* FIN */
html { margin: 0; }
body {
  background-color: #b0e6ff;
  margin: 30px auto;
  width: 85%;
}
/* .container { border: 3px solid rgb(19, 43, 255);  } */
.container > div {
  padding: 10px 77px;
  text-align: center;
  font-size: 2em;
  color: black;
  border-radius: 7px;
}
.container > div:nth-child(1),
.container > div:nth-child(3) {
  background-color: rgb(151, 86, 255);
}
.container > div:nth-child(2),
.container > div:nth-child(4) {
  background-color: rgb(128, 255, 111);
}
h1 {
  text-transform: capitalize;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* the stuff below the title */
.resume {
  display: flex;
  flex: 1 1 47%;
  justify-content: space-between;
  word-wrap:normal;
  font-family: 'Poppins', sans-serif;
}

/* code blocks styling */
pre.line-numbers {
  padding: 0;
  margin: 0; 
  display: flex;
}

/* TODO add inner shadow here */
.code-snip > pre { 
  border-left: 3px solid rgb(19, 43, 255); 
  border-radius: 7px;
  font-size: 17px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.253), 0 6px 20px 0 rgba(4, 0, 44, 0.308);
}

.html-code {
  width: fit-content;
  margin: 2ch auto;
  
}
.css-code {
  width: fit-content;
  margin: 2ch auto;
}

/* LIVE EXAMPLE STUFF */
.resize-it {
  border: 3px solid rgb(0, 14, 143);
  padding: 20px; 
  width: 96%;
  resize: horizontal;
  overflow: auto;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  }